<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>
    <form accept-charset="utf-8" action="/front/doregister" method="post">
        <div>
            <label>用户名称</label><input type="text" id="username" placeholder=" 用户名"
                                      name="username" required><br> <br>
        </div>
        <div>
            <label>登录密码</label><input type="password" id="password"
                                      placeholder=" 密码" required name="password"><br> <br>
        </div>
        <div>
            <label>确认密码</label><input type="password" id="password2"
                                      placeholder=" 确认密码" required name="password2"><br>
            <br>
        </div>
        <div>
            <span>已有账号去</span><a href="/front/login">登录</a> <input type="submit"
                                                                   value="同意协议并注册" />
        </div>
    </form>
</body>
</html>